*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header{
  background-color: #A785ED;

  display: flex;
  justify-content: space-between;
  padding: 15px;

  color: #fff;
  margin-bottom: 40px;
}

.header__title{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  all: unset;
  box-sizing: border-box;
  background-color: #fff;

  width: 400px;

  padding: 14px;
  border: 1px solid #979797;
  border-radius: 8px;

  margin-bottom: 40px;
}

.input, .input::placeholder{
  font-family: 'Manrope', sans-serif;
  font-size: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

.input::placeholder{
  color:#979797;
}

.movies-container, .movies{
  display: flex;
  align-items: center;
  gap: 24px;
}

.movie{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 168px;
  height: 300px;

  display: flex;
  flex-direction: column;

  box-shadow: 0px, 4px, 8px, rgba(0, 0, 0, 0.15);
}

.movie_info{
  margin-top: auto;

  background: rgba(0, 0, 0, 0.8);

  padding: 10px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  
}

.movie_title{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  
  color: #fff;
}

.movie_rating{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #fcbd6e;
}

.movies-container{
  margin-bottom: 40px;
}

.subtitle{
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 150%;

  margin-bottom: 24px;
}

.highlight{
  display: flex;
  gap: 24px;
}

.highlight__video{
  background-image: linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('https://image.tmdb.org/t/p/original/jlGmlFOcfo8n5tURmhC7YVd4Iyy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 

  width: 550px;
  height: 360px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight__title-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.highlight__info{
  max-width: 360px;
  height: 360px;

  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

  padding: 16px
}

.highlight__title{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #e183c8;
}

.highlight__rating{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #A785ED;
}

.highlight__genre-launch{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;

  text-transform: uppercase;
  color: rgba( 0, 0, 0, 0.7);

  margin-bottom: 36px;
}

.highlight__description{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}